@import "../global.pcss";

.container {
  background: green;
}

.card {
  --card-size: 250px;

}

.thumbs {

}

.back,
.front {

}

.back {

}

.card-container {

}

.animation {

}

.hide {

}

@keyframes spin {

}
