@import "../global.pcss";

.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#4399ef, #84bcf4);
}

.penguin {
  --penguin-size: 200px;

  & .head {

    & .eyes {
      --eye-size: ...;
      --pupil-size: ...;

      & .eye {
        --eye-x: 0;
        --eye-y: 0;

        & .pupil {

        }
      }
    }
  }

  & .beak {
  }

  & .body {

    & .belly {

    }
  }
}

.floor {

}
