:root {
  font-family: 'Scope One', sans-serif;
  font-size: 22px;
}

body {
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #aaa;
  width: 100vw;
  height: 100vh;
}
